<%= javascript_pack_tag "puzzle_show" %>

<div id="start-game-div">
  <div id="start-div">
    <h1 id="puzzle-show-start-title">Find all the characters as fast as you can!</h1>
    <button id="puzzle-start-btn" class="popup-btn">Start</button>
  </div>
</div>

<div id="go-container">
  <div id="gameover-loss">
    <h1 id="go-title-loss">Game over times up!</h1>
    <button id="play-again" class="popup-btn">Play again!</button>
  </div>
</div>

<div id="score-form-outer">
  <div id="score-form-container">
    <div id="score-form-div">
      <h1>Enter your name:</h1>
      <%= form_with model: @score, local: true do |f| %>
        <%= f.text_field :name %>
        <%= f.hidden_field :score, value: 1800, id: "score-form-field" %>
        <%= f.hidden_field :puzzle_id, value: @puzzle.id %>

        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>

<h2 id="puzzle-show-title"><%= @puzzle.title %></h2>

<a href="/" data-turbolinks="false">HOME</a>
<br />
<div class="img-container">
  <div class="game-sidebar">
    <h2 id="puzzle-show-timer">Score: <span id="time-span">00:00</span></h2>
    <h3>Find these characters</h3>

    <ul>
      <% @characters.each do |char| %>
        <li id=<%= "#{char === "Wizard Whitebeard" ? "wizard" : char.downcase}-puzzle" %>><%= char %></li>
      <% end %>
    </ul>

    <% unless @scores.length === 0 %>
      <div id="scores-container">
        <h3>Scores:</h3>
        <div id="scores-list">
          <ul>
            <% @scores.each do |score| %>
              <% score_time = Time.at(score.score).utc.strftime("%M:%S") %>
              <li class="score-item"><%= "#{score.name}:  #{score_time}" %></li>
            <% end %>
          </ul>
        </div>
      </div>      
    <% end %>
  </div>

  <%= image_tag ("/assets/#{@puzzle.image}"), id: "puzzle-img", class: "puzzle-img", width: @puzzle.width, height: @puzzle.height %>
</div>